<ion-view title={{doctor.FullName}} ng-controller="DoctorCtrl as doctor">
  <ion-content>
    <div class="item item-thumbnail-right">
      <img ng-src="{{doctor.Avatar}}">
      <div style="float:right;">
        <h2>نام : {{doctor.FullName}}</h2>
      </div><br/>
      <div style="float:right;">
        <h4>تخصص : {{doctor.SpecialityName}}</h4>
      </div><br/>
      <div  style="float:right;">
        <h3>{{doctor.Email}} : ایمیل </h3>
      </div>
    </div>
    <div class="list">
      <h4 class="title positive">کلینیک های من</h4>
      <div ng-repeat="clinic in doctor.Clinics" class="item">
        <h3 style="height: 20px;">{{clinic.Address}}</h4><br/>
        </div>
      </div>
      <div class="list">
        <h4 class="title positive">سوالاتی که من جواب دادم</h4>
        <div ng-repeat="question in doctor.RelatedQuestions">
          <a href="http://www.alodoctor.ir/mobile/question/{{question.Id}}" class="item">
            <h4 class="balanced" style="height: 20px;">{{question.SearchTitle}}</h4><br/>
            <h5 style="height: 20px;">{{question.Title}}</h5>
          </a>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer auto-height">
      <a href="#/app/demo" class="footer-newsletter">مجله رایگان ما را از دست ندهید</a>
    </div>
  </ion-view>
