<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.ionicframework.tebmap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>tebmap</name>
  <description>This is My First Project</description>
  <author email="radiran1@hotmail.com" href="http://www.spansoft.ir/">Reza Rad</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <icon src="icon.png" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>
</widget>