<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button class="button-clear">
				<i class="ion-arrow-left-c"></i>بازگشت</ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animition="side-left-right"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="right">
		<ion-header-bar class="bar-light">
			<a nav-clear menu-close class="button button-clear button-icon icon ion-information-circled button-energized" href="#/"></a>
			<h1 class="title">طب مپ</h1>
			<a nav-clear menu-close class="button button-clear button-icon icon ion-home button-positive" href="#/home"></a>
				</ion-header-bar>
		<ion-content class="padding center-align">
			<div nav-clear menu-close>
				<a href="#/app/notes/2"><img src="img/rb1.jpg" alt="" class="menuimg"></a>
			</div>
			<div nav-clear menu-close>
				<a href="#/app/notes/8"><img src="img/rb4.jpg" alt="" class="menuimg"></a>
			</div>
			<div nav-clear menu-close>
				<a href="#/app/notes/7"><img src="img/rb3.jpg" alt="" class="menuimg"></a>
			</div>
			<div nav-clear menu-close>
				<a href="#/app/notes/1"><img src="img/rb2.jpg" alt="" class="menuimg"></a>
			</div>
			<div nav-clear menu-close>
				<a href="#/app/notes/6"><img src="img/rb5.jpg" alt="" class="menuimg"></a>
			</div>
			<div nav-clear menu-close>
				<a href="#/app/notes/4"><img src="img/rb6.jpg" alt="" class="menuimg"></a>
			</div>
			<hr>
			<div nav-clear menu-close>
				<a class="button icon-left ion-chevron-left button-calm button-full" href="#/app/demo">مشاهده آلارم ها</a>
			</div>
			<hr>
			<div id="menuFooter">
				<p>طب مپ</p>
				<p>نسخه آزمایشی</p>
				<p>2015</p>
			</div>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>