<ion-view title="Dialogs" ng-controller="DemoCtrl as data">
    <ion-content class="has-header padding">
        <button class="button button-full button-balanced" ng-click="data.alert()">Alert</button>
        <button class="button button-full button-balanced" ng-click="data.confirm()">Confirm</button>
        <button class="button button-full button-balanced" ng-click="data.prompt()">Prompt</button>
        <button class="button button-full button-balanced" ng-click="data.beep()">Beep</button>
    </ion-content>
</ion-view>